<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>VolunteerPetShelter - @ViewBag.Title</title>

    @Styles.Render("~/bundles/css")
</head>

<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">¡Bienvenido @ViewBag.UserName! </a>
            </div>

            
               <ul class="nav navbar-top-links navbar-right">
                
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        
                        <li>
                            <a href="#"><i class="fa fa-gear fa-fw"></i> Configuración cuenta</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="@Url.Action("LogOut","User")"><i class="fa fa-sign-out fa-fw"></i> Cerrar sesión</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>

            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">

                        <li style="height: 60px;">
                            <a href="@Url.Action("Home","MenuAdmin")" style="height: 60px; padding-top: 18px;"><i class="fa fa-dashboard fa-fw"></i> Inicio</a>
                        </li>
                      
                        <li>
                            <a href="#" style="height: 60px; padding-top: 18px;"><i class="fa fa-search fa-fw"></i> Ver<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="@Url.Action("Index", "CRUDVolunteerForms")"><i class="fa fa-table fa-fw"></i> Solicitudes voluntarios</a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-table fa-fw"></i> Solicitudes adopción</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>

                        @*<li style="height: 60px;">
                            <a href="@Url.Action("AwaitingRequests", "MenuAdmin")" style="height: 60px; padding-top: 18px;"><i class="fa fa-table fa-fw"></i> Ver solicitudes pendientes</a>
                        </li>
                 
                        <li style="height: 60px;">
                            <a href="@Url.Action("RejectedRequests", "MenuAdmin")" style="height: 60px; padding-top: 18px;"><i class="fa fa-table fa-fw"></i> Ver solicitudes rechazadas</a>
                        </li>

                        <li style="height: 60px;">
                            <a href="@Url.Action("AcceptedRequests", "MenuAdmin")" style="height: 60px; padding-top: 18px;"><i class="fa fa-table fa-fw"></i> Ver solicitudes aceptadas</a>
                        </li>

                        <li style="height: 60px;">
                            <a href="@Url.Action("Contacted", "MenuAdmin")" style="height: 60px; padding-top: 18px;"><i class="fa fa-table fa-fw"></i> Ver colaboradores contactados</a>
                        </li>*@


                       
                       
                       
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
       </div>
          

            @RenderBody() <!-- RenderBody Se utiliza para indicar que esta parte de la página se incluirá en las Vistas que llamen a "_LayoutAdmin" -->

                        
         
            <div class="panel-footer">
                           
            </div>
                    
    @Scripts.Render("~/bundles/js")

</body>
</html>
